<link rel='stylesheet' href='/stylesheets/header.css' />
<script src="/javascripts/header.js"></script>

<div class="ui vertical">
  <div class="ui inverted menu">
    <!-- headerメニュー -->
    <div class="left menu">
      <!-- CUSTOM -->
      <div id="custom-menu" class="ui dropdown green item">
        <span class="custom-menu-button">CUSTOM<i class="dropdown icon"></i></span>
        <div id="custom-contents" class="menu">
          <!-- 見出し1 -->
          <div id="custom-contents-h1" class="ui left pointing dropdown link item" data-element="h1">
            <i class="right dropdown icon"></i><span class="text">見出し1 ( # H1 )</span>
            <div id="menu-h1" class="right menu">
              <!-- h1-default -->
              <div id="custom-contents-h1-default" class="ui left pointing dropdown link item" data-element="h1-default">
                <i class="right dropdown icon"></i><span class="text h1">Default</span>
                <div id="menu-h1-default" class="right menu">
                  <a class="item menu-h1-default" data-element="h1-default_black"><span class="h1 black">BLACK</span></a>
                  <a class="item menu-h1-default" data-element="h1-default_gray"><span class="h1 gray">GRAY</span></a>
                  <a class="item menu-h1-default" data-element="h1-default_red"><span class="h1 red">RED</span></a>
                  <a class="item menu-h1-default" data-element="h1-default_blue"><span class="h1 blue">BLUE</span></a>
                  <a class="item menu-h1-default" data-element="h1-default_green"><span class="h1 green">GREEN</span></a>
                  <a class="item menu-h1-default" data-element="h1-default_orange"><span class="h1 orange">ORANGE</span></a>
                  <a class="item menu-h1-default" data-element="h1-default_yellow"><span class="h1 yellow">YELLOW</span></a>
                  <a class="item menu-h1-default" data-element="h1-default_purple"><span class="h1 purple">PURPLE</span></a>
                </div>
              </div>
              <!-- /h1-default -->
              <!-- h1-underline -->
              <div id="custom-contents-h1-underline" class="ui left pointing dropdown link item" data-element="h1-underline">
                <i class="right dropdown icon"></i><span class="text h1 underline">Underline</span>
                <div id="menu-h1-underline" class="right menu">
                  <a class="item menu-h1-underline" data-element="h1-underline_black"><span class="h1 black">BLACK</span></a>
                  <a class="item menu-h1-underline" data-element="h1-underline_gray"><span class="h1 gray">GRAY</span></a>
                  <a class="item menu-h1-underline" data-element="h1-underline_red"><span class="h1 red">RED</span></a>
                  <a class="item menu-h1-underline" data-element="h1-underline_blue"><span class="h1 blue">BLUE</span></a>
                  <a class="item menu-h1-underline" data-element="h1-underline_green"><span class="h1 green">GREEN</span></a>
                  <a class="item menu-h1-underline" data-element="h1-underline_orange"><span class="h1 orange">ORANGE</span></a>
                  <a class="item menu-h1-underline" data-element="h1-underline_yellow"><span class="h1 yellow">YELLOW</span></a>
                  <a class="item menu-h1-underline" data-element="h1-underline_purple"><span class="h1 purple">PURPLE</span></a>
                </div>
              </div>
              <!-- /h1-underline -->
              <!-- h1-leftLine -->
              <div id="custom-contents-h1-leftLine" class="ui left pointing dropdown link item" data-element="h1-leftLine">
                <i class="right dropdown icon"></i><span class="text h1 leftLine_black">LeftLine</span>
                <div id="menu-h1-leftLine" class="right menu">
                  <a class="item menu-h1-leftLine" data-element="h1-leftLine_black"><span class="h1 black">BLACK</span></a>
                  <a class="item menu-h1-leftLine" data-element="h1-leftLine_gray"><span class="h1 gray">GRAY</span></a>
                  <a class="item menu-h1-leftLine" data-element="h1-leftLine_red"><span class="h1 red">RED</span></a>
                  <a class="item menu-h1-leftLine" data-element="h1-leftLine_blue"><span class="h1 blue">BLUE</span></a>
                  <a class="item menu-h1-leftLine" data-element="h1-leftLine_green"><span class="h1 green">GREEN</span></a>
                  <a class="item menu-h1-leftLine" data-element="h1-leftLine_orange"><span class="h1 orange">ORANGE</span></a>
                  <a class="item menu-h1-leftLine" data-element="h1-leftLine_yellow"><span class="h1 yellow">YELLOW</span></a>
                  <a class="item menu-h1-leftLine" data-element="h1-leftLine_purple"><span class="h1 purple">PURPLE</span></a>
                </div>
              </div>
              <!-- /h1-leftLine -->
            </div>
          </div>
          <!-- /見出し1 -->
          <!-- 見出し2 -->
          <div id="custom-contents-h2" class="ui left pointing dropdown link item" data-element="h2">
            <i class="right dropdown icon"></i><span class="text">見出し2 ( # H2 )</span>
            <div id="menu-h2" class="right menu">
              <!-- h2-default -->
              <div id="custom-contents-h2-default" class="ui left pointing dropdown link item" data-element="h2-default">
                <i class="right dropdown icon"></i><span class="text h2">Default</span>
                <div id="menu-h2-default" class="right menu">
                  <a class="item menu-h2-default" data-element="h2-default_black"><span class="h2 black">BLACK</span></a>
                  <a class="item menu-h2-default" data-element="h2-default_gray"><span class="h2 gray">GRAY</span></a>
                  <a class="item menu-h2-default" data-element="h2-default_red"><span class="h2 red">RED</span></a>
                  <a class="item menu-h2-default" data-element="h2-default_blue"><span class="h2 blue">BLUE</span></a>
                  <a class="item menu-h2-default" data-element="h2-default_green"><span class="h2 green">GREEN</span></a>
                  <a class="item menu-h2-default" data-element="h2-default_orange"><span class="h2 orange">ORANGE</span></a>
                  <a class="item menu-h2-default" data-element="h2-default_yellow"><span class="h2 yellow">YELLOW</span></a>
                  <a class="item menu-h2-default" data-element="h2-default_purple"><span class="h2 purple">PURPLE</span></a>
                </div>
              </div>
              <!-- /h2-default -->
              <!-- h2-underline -->
              <div id="custom-contents-h2-underline" class="ui left pointing dropdown link item" data-element="h2-underline">
                <i class="right dropdown icon"></i><span class="text h2 underline">Underline</span>
                <div id="menu-h2-underline" class="right menu">
                  <a class="item menu-h2-underline" data-element="h2-underline_black"><span class="h2 black">BLACK</span></a>
                  <a class="item menu-h2-underline" data-element="h2-underline_gray"><span class="h2 gray">GRAY</span></a>
                  <a class="item menu-h2-underline" data-element="h2-underline_red"><span class="h2 red">RED</span></a>
                  <a class="item menu-h2-underline" data-element="h2-underline_blue"><span class="h2 blue">BLUE</span></a>
                  <a class="item menu-h2-underline" data-element="h2-underline_green"><span class="h2 green">GREEN</span></a>
                  <a class="item menu-h2-underline" data-element="h2-underline_orange"><span class="h2 orange">ORANGE</span></a>
                  <a class="item menu-h2-underline" data-element="h2-underline_yellow"><span class="h2 yellow">YELLOW</span></a>
                  <a class="item menu-h2-underline" data-element="h2-underline_purple"><span class="h2 purple">PURPLE</span></a>
                </div>
              </div>
              <!-- /h2-underline -->
              <!-- h2-leftLine -->
              <div id="custom-contents-h2-leftLine" class="ui left pointing dropdown link item" data-element="h2-leftLine">
                <i class="right dropdown icon"></i><span class="text h2 leftLine_black">LeftLine</span>
                <div id="menu-h2-leftLine" class="right menu">
                  <a class="item menu-h2-leftLine" data-element="h2-leftLine_black"><span class="h2 black">BLACK</span></a>
                  <a class="item menu-h2-leftLine" data-element="h2-leftLine_gray"><span class="h2 gray">GRAY</span></a>
                  <a class="item menu-h2-leftLine" data-element="h2-leftLine_red"><span class="h2 red">RED</span></a>
                  <a class="item menu-h2-leftLine" data-element="h2-leftLine_blue"><span class="h2 blue">BLUE</span></a>
                  <a class="item menu-h2-leftLine" data-element="h2-leftLine_green"><span class="h2 green">GREEN</span></a>
                  <a class="item menu-h2-leftLine" data-element="h2-leftLine_orange"><span class="h2 orange">ORANGE</span></a>
                  <a class="item menu-h2-leftLine" data-element="h2-leftLine_yellow"><span class="h2 yellow">YELLOW</span></a>
                  <a class="item menu-h2-leftLine" data-element="h2-leftLine_purple"><span class="h2 purple">PURPLE</span></a>
                </div>
              </div>
              <!-- /h2-leftLine -->
            </div>
          </div>
          <!-- /見出し2 -->
          <!-- コード -->
          <div id="custom-contents-code" class="ui left pointing dropdown link item" data-element="code">
            <i class="right dropdown icon"></i><span class="text">コード</span>
            <div id="menu-code" class="right menu">
              <a id="custom-contents-code-default" class="item menu-code-default" data-element="code-default">
                <pre style="margin: auto; white-space: nowrap;"><code class="hljs javascript" style="background: #F0F0F0;"><span style="color: #444;">/* style: default */</span></code></pre>
              </a>
              <a id="custom-contents-code-github" class="item menu-code-github" data-element="code-github">
                <pre style="margin: auto; white-space: nowrap;"><code class="hljs javascript" style="background: #f8f8f8;"><span style="color: #998; font-style: italic;">/* style: github */</span></code></pre>
              </a>
              <a id="custom-contents-code-hybrid" class="item menu-code-hybrid" data-element="code-hybrid">
                <pre style="margin: auto; white-space: nowrap;"><code class="hljs javascript" style="background: #1d1f21;"><span style="color: #707880;">/* style: hybrid */</span></code></pre>
              </a>
              <a id="custom-contents-code-monokai" class="item menu-code-monokai" data-element="code-monokai">
                <pre style="margin: auto; white-space: nowrap;"><code class="hljs javascript" style="background: #272822;"><span style="color: #75715e;">/* style: monokai */</span></code></pre>
              </a>
              <a id="custom-contents-code-purebasic" class="item menu-code-purebasic" data-element="code-purebasic">
                <pre style="margin: auto; white-space: nowrap;"><code class="hljs javascript" style="background: #FFFFDF;"><span style="color: #00AAAA;">/* style: purebasic */</span></code></pre>
              </a>
              <a id="custom-contents-code-far" class="item menu-code-far" data-element="code-far">
                <pre style="margin: auto; white-space: nowrap;"><code class="hljs javascript" style="background: #000080;"><span style="color: #888;">/* style: far */</span></code></pre>
              </a>
            </div>
          </div>
          <!-- /コード -->

          <!-- 強調 -->
          <div id="custom-contents-strong" class="ui left pointing dropdown link item" data-element="strong">
            <i class="right dropdown icon"></i><span class="text">強調</span>
            <div id="menu-strong" class="right menu">
              <!-- strong-default -->
              <div id="custom-contents-strong-default" class="ui left pointing dropdown link item" data-element="strong-default">
                <i class="right dropdown icon"></i><span class="text strong">Default</span>
                <div id="menu-strong-default" class="right menu">
                  <a class="item menu-strong-default" data-element="strong-default_black"><span class="strong black">BLACK</span></a>
                  <a class="item menu-strong-default" data-element="strong-default_gray"><span class="strong gray">GRAY</span></a>
                  <a class="item menu-strong-default" data-element="strong-default_red"><span class="strong red">RED</span></a>
                  <a class="item menu-strong-default" data-element="strong-default_blue"><span class="strong blue">BLUE</span></a>
                  <a class="item menu-strong-default" data-element="strong-default_green"><span class="strong green">GREEN</span></a>
                  <a class="item menu-strong-default" data-element="strong-default_orange"><span class="strong orange">ORANGE</span></a>
                  <a class="item menu-strong-default" data-element="strong-default_yellow"><span class="strong yellow">YELLOW</span></a>
                  <a class="item menu-strong-default" data-element="strong-default_purple"><span class="strong purple">PURPLE</span></a>
                </div>
              </div>
              <!-- /strong-default -->
              <!-- strong-underline -->
              <div id="custom-contents-strong-underline" class="ui left pointing dropdown link item" data-element="strong-underline">
                <i class="right dropdown icon"></i><span class="text strong underline">Underline</span>
                <div id="menu-strong-underline" class="right menu">
                  <a class="item menu-strong-underline" data-element="strong-underline_black"><span class="strong black">BLACK</span></a>
                  <a class="item menu-strong-underline" data-element="strong-underline_gray"><span class="strong gray">GRAY</span></a>
                  <a class="item menu-strong-underline" data-element="strong-underline_red"><span class="strong red">RED</span></a>
                  <a class="item menu-strong-underline" data-element="strong-underline_blue"><span class="strong blue">BLUE</span></a>
                  <a class="item menu-strong-underline" data-element="strong-underline_green"><span class="strong green">GREEN</span></a>
                  <a class="item menu-strong-underline" data-element="strong-underline_orange"><span class="strong orange">ORANGE</span></a>
                  <a class="item menu-strong-underline" data-element="strong-underline_yellow"><span class="strong yellow">YELLOW</span></a>
                  <a class="item menu-strong-underline" data-element="strong-underline_purple"><span class="strong purple">PURPLE</span></a>
                </div>
              </div>
              <!-- /strong-underline -->
              <!-- strong-background -->
              <div id="custom-contents-strong-background" class="ui left pointing dropdown link item" data-element="strong-background">
                <i class="right dropdown icon"></i><span class="text strong background_black">Background</span>
                <div id="menu-strong-background" class="right menu">
                  <a class="item menu-strong-background" data-element="strong-background_black"><span class="strong black">BLACK</span></a>
                  <a class="item menu-strong-background" data-element="strong-background_gray"><span class="strong gray">GRAY</span></a>
                  <a class="item menu-strong-background" data-element="strong-background_red"><span class="strong red">RED</span></a>
                  <a class="item menu-strong-background" data-element="strong-background_blue"><span class="strong blue">BLUE</span></a>
                  <a class="item menu-strong-background" data-element="strong-background_green"><span class="strong green">GREEN</span></a>
                  <a class="item menu-strong-background" data-element="strong-background_orange"><span class="strong orange">ORANGE</span></a>
                  <a class="item menu-strong-background" data-element="strong-background_yellow"><span class="strong yellow">YELLOW</span></a>
                  <a class="item menu-strong-background" data-element="strong-background_purple"><span class="strong purple">PURPLE</span></a>
                </div>
              </div>
              <!-- /strong-background -->
            </div>
          </div>
          <!-- /強調 -->
        </div>
      </div>
      <!-- /CUSTOM -->
      <!-- OUTPUT -->
      <div id="output-menu" class="ui dropdown green item">
        <span class="output-menu-button">OUTPUT<i class="dropdown icon"></i></span>
        <div id="output-contents" class="menu">
          <a id="page-button" class="item" ng-click="pageButtonClick()">WebPage</a>
          <a id="pdf-button" class="item" ng-click="pdfButtonClick()">Pdf</a>
        </div>
      </div>
      <!-- /OUTPUT -->
    </div>
    <!-- /headerメニュー -->
    <h1 class="ui inverted header"><i class="settings icon" />Custom Markdown</h1>
  </div>
</div>
