<!DOCTYPE html>
<html ng-app="indexApp">
  <head>
    <title>Custom Markdown</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/markdown.css' />
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-sanitize.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/message.js"></script>
  </head>
  <body>
    <!-- ヘッダー -->
    <div id="header"></div>
    <script type="text/javascript" >
      $(function(){
        $("#header").load("./header");
      });
    </script>
    <!-- /ヘッダー -->

    <!-- メッセージ -->
    <div id="message"></div>
    <!-- /メッセージ -->

    <div ng-controller="markdownAreaCtrl">
      <button id="page-button" class="ui green button" ng-click="pageButtonClick()">Markdownをページで表示する</button>
      <button id="pdf-button" class="ui teal button" ng-click="pdfButtonClick()">MarkdownをPDFに変換する</button>
      <!-- Markdownの入力と出力 -->
      <div class="ui vertically divided grid">
        <div class="two column row">
          <div class="column">
            <div class="input-markdown">
              <textarea placeholder="input text..." ng-model="inputMarkdown" ng-init="init()"></textarea>
            </div>
          </div>
          <div class="column">
            <div class="output-markdown">
              <div ng-bind-html="outputMarkdown" id="output-markdown-contents"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Markdownの入力と出力 -->
    </div>
  </body>
</html>
