<!DOCTYPE html>
<html ng-app="indexApp">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic/dist/semantic.min.css" />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-sanitize.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <!-- ヘッダー -->
    <div id="header"></div>
    <script type="text/javascript" >
      $(function(){
        $("#header").load("./header");
      });
    </script>
    <!-- /ヘッダー -->

    <div class="ui vertically divided grid">
      <div class="two column row" ng-controller="markdownAreaCtrl">
        <div class="column">
          <div class="input-markdown">
            <textarea placeholder="input text..." ng-model="inputMarkdown" ng-change="outputMarkdown()"></textarea>
          </div>
        </div>
        <div class="column">
          <div class="output-markdown">
            <div ng-bind-html="outputMarkdown"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
