<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Custom Markdown</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css" />
    <link rel='stylesheet' href='/stylesheets/markdown.css' />
    <link rel='stylesheet' href='/stylesheets/page.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/javascripts/page.js"></script>
    <!-- codeにhighlightを適用するための準備 -->
    <link rel="stylesheet" id="highlightStyle" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- /codeにhighlightを適用するための準備 -->
  </head>
  <body>
    <div id="markdown-contents"></div>
  </body>
</html>
