<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Custom Markdown</title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css" />
    <link rel='stylesheet' href='/stylesheets/markdown.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/javascripts/page.js"></script>
  </head>
  <body>
    <div id="markdown-contents"></div>
    <div></div>
  </body>
</html>
