/* Markdown input */
.input-markdown {
  margin: 30px 20px 0 20px;
}
.input-markdown textarea {
  width: 100%;
  resize:none;
  min-height: 100vh;
  padding: 15px 15px 15px 15px;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  font-size: medium;
}

/* Markdown output */
.output-markdown {
  font-size: medium;
  min-height: 100vh;
  margin: 30px 20px 0 20px;
  padding: 15px 15px 15px 15px;
  border: dotted 2px #22be34;
}

/* ボタン */
[id*="-button"] a {
  color: #FFF;
}
[id*="-button"] a:hover {
  color: #FFF;
}

/* loader */
.ui.large.text.loader {
  top: 80px;
}
.ui.segment.no-margin-top {
  margin-top: 0;
}
