@import url("./color.css");

pre {
	white-space: pre-wrap;
}
code {
  word-wrap: break-word;
}

/* text-color */
[class*="default_black"] {
	color: var(--black);
}
[class*="default_gray"] {
	color: var(--gray);
}
[class*="default_red"] {
	color: var(--red);
}
[class*="default_blue"] {
	color: var(--blue);
}
[class*="default_green"] {
	color: var(--green);
}
[class*="default_orange"] {
	color: var(--orange);
}
[class*="default_yellow"] {
	color: var(--yellow);
}
[class*="default_purple"] {
	color: var(--purple);
}

/* underline */
[class*="underline"] {
	text-decoration: underline;
}
[class*="underline_black"] {
	text-decoration-color: var(--black);
}
[class*="underline_gray"] {
	text-decoration-color: var(--gray);
}
[class*="underline_red"] {
	text-decoration-color: var(--red);
}
[class*="underline_blue"] {
	text-decoration-color: var(--blue);
}
[class*="underline_green"] {
	text-decoration-color: var(--green);
}
[class*="underline_orange"] {
	text-decoration-color: var(--orange);
}
[class*="underline_yellow"] {
	text-decoration-color: var(--yellow);
}
[class*="underline_purple"] {
	text-decoration-color: var(--purple);
}

/* leftLine */
[class*="leftLine"] {
	padding: 0.25em 0.5em;
}
[class*="leftLine_black"] {
	border-left: solid 5px var(--black);
}
[class*="leftLine_gray"] {
	border-left: solid 5px var(--gray);
}
[class*="leftLine_red"] {
	border-left: solid 5px var(--red);
}
[class*="leftLine_blue"] {
	border-left: solid 5px var(--blue);
}
[class*="leftLine_green"] {
	border-left: solid 5px var(--green);
}
[class*="leftLine_orange"] {
	border-left: solid 5px var(--orange);
}
[class*="leftLine_yellow"] {
	border-left: solid 5px var(--yellow);
}
[class*="leftLine_purple"] {
	border-left: solid 5px var(--purple);
}

/* background */
[class*="background_"] {
	color: var(--white);
}
[class*="background_black"] {
	background-color: var(--black);
}
[class*="background_gray"] {
	background-color: var(--gray);
}
[class*="background_red"] {
	background-color: var(--red);
}
[class*="background_blue"] {
	background-color: var(--blue);
}
[class*="background_green"] {
	background-color: var(--green);
}
[class*="background_orange"] {
	background-color: var(--orange);
}
[class*="background_yellow"] {
	background-color: var(--yellow);
}
[class*="background_purple"] {
	background-color: var(--purple);
}
